  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(87, 85, 85);
}

nav {
    background-color: black;
    font-style: oblique;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    

 

}
nav a {
    color: rgba(231, 231, 21, 0.911);
 
}
#luck{
  padding: 220px;
}

.dart{
    border-radius: 70px;
    margin-left: 40px;
    padding-top: 30px;
}

.bicho {
    border-radius: 70px;
    margin-left: 40px;
    padding-top: 30px;
}

.luck{
    border-radius: 70px;
    margin-left: 40px;
    padding-top: 30px;
}

    


